@model CristalImb.Web.ViewModels.InmPropietarios.InmPropietariosViewModel

@{
    ViewData["Title"] = "Agregar inmuebles";
}

@section Styles{
    <style>
        .contenido {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            margin-bottom: 5%;
        }

        tr td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            color: #08006f;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Inmuebles</label>
                        <select asp-items="ViewBag.ListarInmueble" class="form-control" asp-for="InmuebleId" id="codigos"></select>
                        <span asp-validation-for="InmuebleId" class="text-danger"></span>
                    </div>
                </div>
            </div><br />
            <div class="form-group">
                <input onclick="agregarInmueble()" type="submit" value="Agregar inmueble" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br /><hr /><br />
    <div class="row">
        <div class="col-12">
            <h2>Lista de inmuebles</h2>
            <form asp-action="CrearInmPropietarios" asp-controller="Propietario" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="PropietarioId" />
                <input type="hidden" asp-route-codigoIndex="" id="listacodigo" />
                <table id="tablacodigo" class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Inmueble</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <input id="agregar" type="submit" value="Guardar inmueble" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>



@section Scripts {

}
<script>
    function agregarInmueble() {
        let codigoId = $("#codigos option:selected").val();
        let codigoText = $("#codigos option:selected").text();
        let contador = 0;

        
            $("#tablacodigo").append(`
            <tr id="${contador}">
                <td>
                    <input type="hidden" name="AgregarInmuebles[${contador}].InmuebleId" value="${codigoId}" />
                    ${codigoText}
                </td>
                <td>
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" onclick="eliminarInmueble(${contador})"></i></button>
                </td>
            </tr>
            `);
            contador++;
        
        
    }
    function eliminarInmueble(contador) {
        let codigosIndex = [];
        codigosIndex.push(contador);
        $("#listacodigo").attr("asp-route-codigoIndex", codigosIndex)
        $("#" + contador).remove();
    }
</script>
