@model CristalImb.Web.ViewModels.Propietarios.PropietariosViewModel

@{
    ViewData["Title"] = "RegistrarPropietario";
    Layout = null;
}

<div class="row">
    <div class="registrar col-md-12">
        <form asp-action="RegistrarPropietario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12 row">
                <div class="form-group col-md-12">
                    <label asp-for="Identificacion" class="control-label">Identificación <b class="text-danger">*</b></label>
                    <input asp-for="Identificacion" class="form-control" />
                    <span asp-validation-for="Identificacion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="Nombre" class="control-label">Nombre <b class="text-danger">*</b></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Apellido" class="control-label">Apellido <b class="text-danger">*</b></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="form-group col-md-3">
                    <label asp-for="Telefono" class="control-label">Teléfono <b class="text-danger">*</b></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Celular" class="control-label">Celular</label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Correo" class="control-label">Correo <b class="text-danger">*</b></label>
                    <input asp-for="Correo" type="email" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
            <div>
            <a asp-action="IndexPropietario">Volver</a>
        </div>
        </form>
        
    </div>
</div>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) {
    <text>
              alertify.alert('Error', '@TempData["Mensaje"]', function(){ alertify.alert('Error'); });
             </text>
    }
</script>
}