@model CristalImb.Model.Entities.InmPropietarios





@{
    ViewData["Title"] = "RegistrarPropietario";
    Layout = null;
}

<div class="row">
    <div class="col-md-10">
        <div class="registrar">
            <form asp-action="RegistrarPropietario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Propietario.Identificacion" class="control-label"></label>
                    <input asp-for="Propietario.Identificacion" class="form-control" />
                    <span asp-validation-for="Propietario.Identificacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Propietario.Nombre" class="control-label"></label>
                    <input asp-for="Propietario.Nombre" class="form-control" />
                    <span asp-validation-for="Propietario.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Propietario.Apellido" class="control-label"></label>
                    <input asp-for="Propietario.Apellido" class="form-control" />
                    <span asp-validation-for="Propietario.Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Propietario.Telefono" class="control-label"></label>
                    <input asp-for="Propietario.Telefono" class="form-control" />
                    <span asp-validation-for="Propietario.Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Propietario.Correo" class="control-label"></label>
                    <input asp-for="Propietario.Correo" class="form-control" />
                    <span asp-validation-for="Propietario.Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Propietario.Direccion" class="control-label"></label>
                    <input asp-for="Propietario.Direccion" class="form-control" />
                    <span asp-validation-for="Propietario.Direccion" class="text-danger"></span>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Inmuebles</label>
                                    <select asp-for="Inmueble.Codigo" class="form-control">
                                        <option>Seleccione</option>
                                        

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Código</label>
                                    <input readonly type="text" class="form-control" asp-for="Inmueble.Codigo" />
                                </div>
                                <button class="btn btn-success" type="button">Agregar</button>
                            </div>
                            <div class="col-8">
                                <table id="tablaInmuebles" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Código inmueble</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="IndexPropietario">Volver</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}