@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "EditarRol";
}

<div class="container-fluid">
<div class="row">
    <div class="col-md-5">
        <div class="editar">
            <h1>Editar rol</h1>
            <hr />
            <form asp-action="EditarRol" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Name" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Nombre del rol</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="IndexRol">Volver</a>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

