@model IEnumerable<CristalImb.Model.Entities.Rol>

@{
    ViewData["Title"] = "IndexRol";
}

@section Styles{

}

<div class="content">
    <div class="container-fluid">

        <div class="m-0 row justify-content-center align-items-baseline">
            <div class="botonCrear col-12 p-3 text-center accent-teal">
                <br />
            </div>
            <div class="col-6">
                <h3 class="text-center"> Gestión de Roles</h3>
                <hr />
                <table class="table table-striped table-bordered col-12" id="tabla">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Rol</th>
                            <th>Estado</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model)
                        {
                            <tr>
                                <td>@r.IdentityRole.Name</td>
                                <td>
                                    @if (r.Estado == true)
                                    {
                                        <p>Activo</p>
                                    }
                                    else
                                    {
                                        <p>Desactivo</p>
                                    }
                                </td>
                                <td>
                                    @if (r.Estado == true)
                                    {
                                        @if (r.IdentityRole.Name == "Administrador")
                                        {
                                            <p>-</p>
                                        }
                                        else
                                        {
                                            <form asp-action="ActualizarEstado" asp-route-id="@r.RolId">
                                                <button type="submit"><i class="fas fa-toggle-on"></i></button>
                                            </form>
                                        }

                                    }
                                    else if (r.Estado == false)
                                    {
                                        @if (r.IdentityRole.Name == "Administrador")
                                        {
                                            <p>-</p>
                                        }
                                        else
                                        {
                                            <form asp-action="ActualizarEstado" asp-route-id="@r.RolId">
                                                <button type="submit"><i class="fas fa-toggle-off"></i></button>
                                            </form>
                                        }
                                    
                                }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Tabla.js"></script>
    <script src="~/js/modal.js"></script>

    <script>
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("CambiarEstado")) {
        <text>
        Swal.fire({
            title: "Estado actualizado",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        

    </script>
}