@model IEnumerable<CristalImb.Model.Entities.Inmueble>

@{
    ViewData["Title"] = "Pagina inicio";
    Layout = "_Landing";
}

<header class="masthead">
    <div class="container">
        <ul class="botones text-uppercase ms-auto py-4 py-lg-0">
            <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" asp-action="InmueblesArriendo" asp-controller="Landing">Arrendar</a></li>
            <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" asp-action="InmueblesVenta" asp-controller="Landing">Comprar</a></li>
        </ul>
        <div class="card-header row">
            <ul class="botones text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" href="#">Tipo de inmueble</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" href="#">Zonas</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" href="#">Precios</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="page-section" id="services">
    <div class="card-header">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Inmuebles en oferta</h2>
        </div>

        @foreach (var x in Model){
        <div asp-action="IndexLanding">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="fa-stack fa-10x">
                    <img src="~/landing/img/1.jpg" width="300" height="250"></img>
                </div>
                <div class="product__description">
                <h3 class="product__title">@Html.DisplayFor(modelx => x.Codigo)</h3>
                <span class="product__price">@Html.DisplayFor(modelx => x.Valor)</span>
            </div>
            </div>
           </div>
        </div>
        }
    </div>
</section>
<!-- Services-->


    
    

}
