@model IEnumerable<CristalImb.Model.Entities.Inmueble>

@{
    ViewData["Title"] = "Pagina inicio";
    Layout = "_Landing";
}


<header class="masthead">
    <div class="container">
        <ul class="botones text-uppercase ms-auto py-4 py-lg-0">
            <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" asp-action="InmueblesArriendo" asp-controller="Landing">Arrendar</a></li>
            <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" asp-action="InmueblesVenta" asp-controller="Landing">Comprar</a></li>
        </ul>
        <div class="card-header row">
            <ul class="botones text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" href="#">Tipo de inmueble</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" href="#">Zonas</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-xl text-uppercase" href="#">Precios</a></li>

            </ul>
        </div>
    </div>
</header>

<section class="page-section" id="services">
    <div class="card-header">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Inmuebles en oferta.</h2>
        </div>
        <div class="row" id="oferta" asp-action="IndexLanding">
            @foreach (var x in Model)
            {

                    <div style="width: 25rem; right: 1px; border-right-width: 30px; border-color: #FFFF; border-bottom-width: 20px;">
                        <img class="card-img-top" src="~/landing/img/1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">@Html.DisplayFor(modelx => x.Codigo) - $ @Html.DisplayFor(modelx => x.Valor)</h5>
                            <p class="card-text text-center">@Html.DisplayFor(modelx => x.Descripcion)</p>
                        </div>
                    </div>
               
                
                
            }
          </div>

    </div>
</section>
