@model CristalImb.Web.ViewModels.Usuarios.CrearViewModel



@{
    ViewData["Title"] = "Crear usuario";
    Layout = null;
}

@section Styles{
    <style>
        .contenido {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            margin-bottom: 5%;
        }

        tr td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            color: #08006f;
        }
    </style>
}

<!-- Content Wrapper. Contains page content -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-11 align-self-center">
            <div class="row">
                <div class="col-md-10">
                    <form asp-action="CrearUsuarios" id="formulario" name="formulario">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Identificacion" class="control-label"></label>
                            <input asp-for="Identificacion" class="form-control" />
                            <span asp-validation-for="Identificacion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmarPassword" class="control-label"></label>
                            <input type="password" asp-for="ConfirmarPassword" class="form-control" />
                            <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rol" class="control-label"></label>
                            <select id="ListaRoles" asp-items="ViewBag.Roles" asp-for="Rol" class="form-control"></select>
                            <span asp-validation-for="Rol" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="IndexUsuarios">Volver</a>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    document.getElementById("ListaRoles").selectedIndex = -1;
</script>

@section Scripts {
}


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
