@model CristalImb.Business.Dtos.Inmuebles.InmuebleDetalleDto

@{
    ViewData["Title"] = "Agregar imagenes";
    Layout = null;
}

@section Styles{
    <style>
        .contenido {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            margin-bottom: 5%;
        }

        tr td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            color: #08006f;
        }
    </style>
}
 <div class="registrar">
            <form asp-action="AgregarImagen" enctype="multipart/form-data">
                <input type="hidden" asp-for="InmuebleId" />
                <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="col-4">
                <br />
                <br />
                <div class="card">
                    <div class="card-body">
                        <div class=""><h2><strong>Imagenes:</strong></h2></div>
                        <br />
                        <div class="form-group">
                            @* <label asp-for="File"></label>*@
                            <input asp-for="Files" class="form-control" id="img" multiple />
                        </div>
                        @*<small>EL archivo debe tener un máximo de 20 mb. Formato permitidos: PDF.</small>*@
                    </div>
                </div>
            </div>
        </div><br />
        <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
    </div>
</div>

</form>
</div>

