@model CristalImb.Business.Dtos.Inmuebles.InmuebleDto
@{
    ViewData["Title"] = "RegistrarInmueble";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="registrar">
            <form asp-action="RegistrarInmueble" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="Codigo" class="control-label">Código</label>
                    <input asp-for="Codigo" class="form-control" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                    <textarea asp-for="Descripcion" class="form-control"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="TipoId" class="control-label">Tipo de inmueble</label>
                    <select asp-items="ViewBag.ListaTipos" asp-for="TipoId" class="form-control"></select>
                    <span asp-validation-for="TipoId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ServicioInmuebleId" class="control-label">Servicio</label>
                    <select asp-items="ViewBag.ListaServicios" asp-for="ServicioInmuebleId" class="form-control"></select>
                    <span asp-validation-for="ServicioInmuebleId" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="Valor" class="control-label">Precio</label>
                    <input type="text" asp-for="Valor" class="form-control" id="number"/>
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-3">
                        <label asp-for="Area" class="control-label">Área</label>
                        <input asp-for="Area" placeholder="Ej: 95m²" class="form-control" />
                        <span asp-validation-for="Area" class="text-danger"></span>
                    </div>
                    
                </div>
                </div>
                <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="ZonaId" class="control-label">Zona</label>
                    <select asp-items="ViewBag.listaZona" asp-for="ZonaId" class="form-control"></select>
                    <span asp-validation-for="ZonaId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdEstadoInm" class="control-label">Estado del inmueble</label>
                    <select asp-items="ViewBag.ListaEstadosInm" asp-for="IdEstadoInm" class="form-control"></select>
                    <span asp-validation-for="IdEstadoInm" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="Direccion" class="control-label">Dirección</label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="oferta" class="control-label">Oferta</label>
                    <input asp-for="oferta" class="form-control" />
                    <span asp-validation-for="oferta" class="text-danger"></span>
                </div>
                <div class="card">
                            <div class="card-body">
                                <div class=""><h2><strong>Imagenes:</strong></h2></div>
                                <br />
                                <div class="form-group">
                                   @* <label asp-for="File"></label>*@
                                    <input asp-for="Files" class="form-control" multiple/>
                                </div>
                                @*<small>EL archivo debe tener un máximo de 20 mb. Formato permitidos: PDF.</small>*@
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="IndexInmueble">Volver</a>
            </div>
        </div>
    </div>
</div>
<script src="~/js/menu.js"></script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    </script>
}