@model CristalImb.Web.ViewModels.InmPropietarios.InmPropietariosViewModel
@{
    ViewData["Title"] = "SeleccionarInmueble";
}

<div class="container-fluid">
    <form asp-action="crearInmPropietarios" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="PropietarioId" />
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">Inmuebles</label>
                    <select asp-items="ViewBag.ListarInmueble" asp-for="InmuebleId" class="form-control"></select>
                    <span asp-validation-for="InmuebleId" class="text-danger"></span>
                </div>
            </div>
        </div><br />
        <div class="form-group">
            <input type="submit" value="Agregar inmueble" class="btn btn-primary" />
        </div>
    </form>

</div>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}