@model CristalImb.Web.ViewModels.InmPropietarios.InmPropietarioViewModel



<h3 class="text-center">Asignar inmueble a propietario.</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form asp-action="AsignarRolesUsuario" method="post">
                <div class="form-group">
                    <label>Seleccione el usuario</label>
                    <select asp-for="IdInmueble" asp-items="@ViewBag.InmPropietarios" class="form-control">
                        <option selected disabled>--Seleccione inmuebles--</option>
                    </select>
                </div>

                <input type="submit" class="btn btn-outline-primary btn-block" value="Asignar" />
                <a asp-action="Index" class="btn btn-outline-danger btn-block">Cancelar</a>
            </form>
        </div>
    </div>
</div>