<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-action="Dashboard" asp-controller="Admin" class="brand-link">
        <img src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Cristal inmobiliaria</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
            
            <div class="contenedor-menu">
                <ul class="menu" class="c-sidebar-nav">
                    <li>
                        <a href="#"><i class="icono izquierda fas fa-cog fa-fw"></i>Configuración<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a asp-action="IndexRol" asp-controller="Rol">Gestión de roles</a></li> <!--class="nav-link"-->
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icono izquierda fas fa-user fa-fw"></i>Usuarios<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a asp-action="IndexUsuarios" asp-controller="Usuarios">Gestión de usuarios</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icono izquierda fas fa-house-user fa-fw"></i>Propiedades<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a asp-action="IndexPropietario" asp-controller="Propietario">Gestión de propietarios</a></li>
                            <li><a asp-action="IndexInmueble" asp-controller="Inmueble">Gestión de inmuebles</a></li>
                            <li><a asp-action="IndexTipoInmuebles" asp-controller="TipoInmuebles">Gestión tipo de inmueble</a></li>
                            <li><a asp-action="IndexZona" asp-controller="Zona">Gestión de zonas</a></li>
                            <li><a asp-action="IndexEstadosInm" asp-controller="EstadosInmueble">Estado inmueble</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icono izquierda fas fa-users fa-fw"></i>Empleados<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a asp-action="IndexEmpleado" asp-controller="Empleado">Gestión de empleados</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icono izquierda fas fa-calendar-week fa-fw"></i>Citas<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a asp-action="IndexCita" asp-controller="Cita">Gestión de citas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icono izquierda fas fa-chart-bar fa-fw"></i>Reportes<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Reportes">Gestión de reportes</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
