.sid {
    background-color: #07c2f9!important;
}

.sideb {
    background-color: #07c2f9!important;
}

.sidebarfondo {
    background-color: #07c2f9!important;
    
}

.os-content {
    background-color: #07c2f9!important;
}

.navbar-white {
    background-color: #07c2f9!important;
    color: #07c2f9!important;
}

.brand-link {
    background-color: #007ca1!important;
}

.sidebar {
    background-color: #07c2f9!important;
}

.border-top {
    background-color: #07c2f9!important;
}

.main-footer {
    background-color: #07c2f9!important;
    color: aliceblue!important;
}

.nav-item{
    color: aliceblue!important;
}

.navbar-nav{
    color:aliceblue!important;
}

.nav-pills .nav-link{
    color:aliceblue!important;
}