@model CristalImb.Model.Entities.Cita

@{
    ViewData["Title"] = "RegistrarCitaCliente";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
</head>

<!-- Left navbar links -->



<body style="background-color: #B3FCFD " class="hold-transition register-page col-md-12">
    <nav class="text-center">
        <!-- Left navbar links -->
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item">
                <div class="form-group">
                    <a asp-action="CerrarSesion" asp-controller="Usuarios" class="btn btn-danger">Cerrar sesión</a>
                </div>
            </li>
        </ul>

    </nav>
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Crital Inmobiliaria</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Registro de citas</p>

                <form asp-action="RegistrarCitaCliente">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <br />

                    <h2>Registre su cita</h2>
                    <hr />
                    <div class="col-md-12 row">
                        <div class="form-group col-md-12">
                            <label asp-for="InmuebleId" class="control-label">Inmueble</label>
                            <select asp-items="ViewBag.ListaInmuebles" asp-for="InmuebleId" class="form-control"></select>
                            <span asp-validation-for="InmuebleId" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="form-group col-md-6">
                            <label asp-for="Identificacion" class="control-label">Identificación <b class="text-danger">*</b></label>
                            <input asp-for="Identificacion" class="form-control" />
                            <span asp-validation-for="Identificacion" class="text-danger small"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Nombre" class="control-label">Nombre <b class="text-danger">*</b></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="form-group col-md-6">
                            <label asp-for="Apellido" class="control-label">Apellido <b class="text-danger">*</b></label>
                            <input asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger small"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Telefono" class="control-label">Teléfono <b class="text-danger">*</b></label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="form-group col-md-6">
                            <label asp-for="Correo" class="control-label">Correo <b class="text-danger">*</b></label>
                            <input asp-for="Correo" class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger small"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Direccion" class="control-label">Dirección <b class="text-danger">*</b></label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger small"></span>
                        </div>
                    </div>
                    @*<div class="col-md-12 row">
                            <div class="form-group col-md-6">
                                <label asp-for="FechaHora" class="control-label">Fecha y hora <b class="text-danger">*</b></label>
                                <input type="datetime-local" asp-for="FechaHora" class="form-control" />
                                <span asp-validation-for="FechaHora" class="text-danger"></span>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label asp-for="FechaHora" class="control-label">Fecha y hora de la cita <b class="text-danger">*</b></label>
                        <input asp-for="FechaHora" id="fecha" class="fecha form-control" readonly />
                        <span asp-validation-for="FechaHora" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn btn-primary" />
                    </div>
                </form>
                <div>
                    <a asp-action="IndexLanding" asp-controller="Landing">Volver</a>
                </div>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <script>


        $("#fecha").datetimepicker({
            format: 'Y-m-d H:i:i',
            formatTime: 'H:i:i',
            formatDate: 'Y-m-d',
            interval: 60
        });
    </script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("GuardarCitaCli")) {
        <text>
        Swal.fire({
        title: "Se ha registrado su cita",
            icon: 'success',
            html: "@TempData["Mensaje"]"
        })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("fechaHoraExiste")) {
        <text>
        Swal.fire({
        title: "Hora o fecha no disponible",
            icon: 'error',
            html: "@TempData["Mensaje"]"
        })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("ErrorCli")) {
        <text>
        Swal.fire({
        title: "Error",
            icon: 'error',
            html: "@TempData["Mensaje"]"
        })
        </text>
        }
</script>
</body>

</html>
@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}

